.chat-side__groups__group 
  %p{class: "chat-side__groups__group__name"}
    SampleGroup
  %p{class: "chat-side__groups__group__message"}
    hello
.chat-side__groups__group 
  %p{class: "chat-side__groups__group__name"}
    SampleGroup
  %p{class: "chat-side__groups__group__message"}
    hello