.chat-side__groups__group 
  %p.chat-side__groups__group__name
    SampleGroup
  %p.chat-side__groups__group__message
    hello
.chat-side__groups__group 
  %p.chat-side__groups__group__name
    SampleGroup
  %p.chat-side__groups__group__message
    hello