.groups
  - current_user.groups.each do |group|
    = link_to '#', class: "groups__group-link" do
      .groups__group-link__group 
        .groups__group-link__group__name
          = group.name
        .groups__group-link__group__message
          メッセージはまだありません。