.messages__message
  .messages__message__info
    %p.messages__message__info__user-name
      Guest1
    %p.messages__message__info__date
      2019/10/07(Mon) 10:54:05
  %p.messages__message__text
    ねむい
.messages__message
  .messages__message__info
    %p.messages__message__info__user-name
      Guest２
    %p.messages__message__info__date
      2019/10/07(Mon) 10:54:05
  %p.messages__message__text
    こんばんは