= render partial: "messages/sidebar"
.chat-main
  .main-header
    .main-header__group-box
      %h2.main-header__group-box__group-title
        グループ名
      %ul.main-header__group-box__member
        Member：
        %li.main-header__group-box__member
          Guest1
        %li.main-header__group-box__member
          Guest2
    = link_to "https://www.google.co.jp/", class: "main-header__edit-btn" do
      .main-header__edit-btn__text
        Edit
  .messages
    = render partial: "messages/message"
  .send
    .form
      %form.text-box
        %input.text-box__textarea{placeholder: "type a message", type: "text", name: "message[content]"}
        %label.text-box__photo{for: "message_image"}
          %i.fa.fa-image
          %input#message_image.text-box__photo--image{type: "file", name: "message[image]"}
      %input.submit-btn{type: "submit", nama: "commit", value: "Send"}


