.groups{
  background-color:#2f3e51;
  height: calc(100vh - 100px);
  overflow: scroll;
  &__group-link{
    text-decoration: none;
    &__group{
      padding: 20px;
      &__name{
        font-size: 15px;
        font-weight: bold;
        margin-bottom: 5px;
        color: $side-color;
      }
      &__message{
        font-size: 11px;
        color: $side-color;
      }
    }
  }
}